<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="global::style('资源管理')"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <th:block th:replace="global::ui-header"/>

    <th:block th:replace="global::ui-user-sidebar(false)"/>

    <div class="content-wrapper">

        <th:block th:replace="global::ui-content-header(true, '', true)"/>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="resource-search-form">
                            <div class="form-row">
                                <div class="form-group row col-sm-5 col-md-4">
                                    <label for="search-name" class="col-sm-2 col-form-label">资源名:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="search-name" name="searchName" class="form-control" placeholder="资源名"/>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary search-button">查询</button>
                                    <button type="button" class="btn btn-primary create-button">新增</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="resources-container" class="table table-bordered table-hover" style="width:100%;">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>资源名称</th>
                                <th>资源Path</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!--    <th:block th:replace="global::ui-footer"/>-->

    <div class="modal fade" id="delete-resource-confirm-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">待确认...</h5>
                </div>
                <div class="modal-body">是否确认删除资源[<strong class="h3">资源名称</strong>]</div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary close-delete-resource-confirm-modal">取消</button>
                    <button type="button" class="btn btn-primary confirm-delete-resource-confirm-modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resource-detail-modal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="resource-detail-form">
                    <div class="modal-header">
                        <h4 class="modal-title">资源详情</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="resFlow"/>
                        <div class="form-group">
                            <label for="res-name">资源名称</label>
                            <input type="text" name="resName" class="form-control" id="res-name">
                        </div>
                        <div class="form-group">
                            <label for="res-path">资源路径</label>
                            <input type="text" name="resPath" class="form-control" id="res-path">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default close-resource-detail-modal">取消</button>
                        <button type="button" class="btn btn-primary save-resource-detail-modal">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="global :: script-frame"/>
<th:block th:replace="global :: script-stiger"/>
<script th:src="@{/js/sys/resource.js}"></script>
</body>
</html>