<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="style(title)">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:text="'STiger | ' + ${title}">STiger | Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    </th:block>
</head>
<body>
<th:block th:if="${#arrays.contains(#servletContext.getAttribute('activeProfiles'), 'dev')}" th:fragment="frame">
    <input type="hidden" th:if="${#arrays.contains(#servletContext.getAttribute('activeProfiles'), 'dev')}" id="runningMode" value="dev" />
    <script th:src="@{/adminlte/plugins/jquery/jquery.js}"></script>
    <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/adminlte/dist/js/adminlte.js}"></script>
</th:block>
<th:block th:if="${!#arrays.contains(#servletContext.getAttribute('activeProfiles'), 'dev')}" th:fragment="frame">
    <input type="hidden" th:if="${!#arrays.contains(#servletContext.getAttribute('activeProfiles'), 'dev')}" id="runningMode" value="notdev" />
    <script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
</th:block>
<th:block th:if="${#arrays.contains(#servletContext.getAttribute('activeProfiles'), 'dev')}" th:fragment="stiger">
    <script th:src="@{/js/Proj.js}"></script>
    <script th:src="@{/js/HttpUtil.js}"></script>
</th:block>
</body>
</html>