<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<span th:text="${sayHello}"></span>
<form th:action="@{/sayHello}" method="post">
    <input type="text" name="name"/>
    <button type="submit">hello</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">退出</button>
</form>

<button type="button" onclick="req('/res1')">/res1</button><br/>
<button type="button" onclick="req('/res2')">/res2</button><br/>

<textarea id="txt" cols="100" rows="50"></textarea>

<script>
    function req(url) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, false);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.send();
        document.getElementById('txt').innerText = xhr.responseText;
    }
</script>
</body>
</html>