<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="global::style('')"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed-md">
<div class="wrapper">

    <th:block th:replace="global::ui-header"/>

    <th:block th:replace="global::ui-user-sidebar(false)"/>

    <div class="content-wrapper">

        <th:block th:replace="global::ui-content-header(true, '', true)"/>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <form id="role-search-form">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="search-code">角色代码:</label>
                                    <input type="text" id="search-code" name="searchCode" class="form-control"
                                           placeholder="角色代码"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="search-name">角色名:</label>
                                    <input type="text" id="search-name" name="searchName" class="form-control"
                                           placeholder="角色名"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="search-res-name">资源名:</label>
                                    <input type="text" id="search-res-name" name="searchResName" class="form-control"
                                           placeholder="资源名"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary search-button">查询</button>
                        <button type="button" class="btn btn-success create-button">新增</button>
                    </div>
                </div>
                <div class="row" id="roles-container">
                </div>
            </div>
        </section>
    </div>

</div>

<th:block th:replace="global::script-frame"/>
<th:block th:replace="global::script-stiger"/>
<script th:src="@{/js/sys/role.js}"></script>
</body>
</html>